* {
  font-family: monaco;
  font-size: 13pt;
}

body {
  background-color: rgb(215, 214, 239);
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-shadow: 0px 1px 2px #111111;
}

.all-recipes-container {
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-recipes-container > p {
margin-right: 6vw;
font-size: 1.3vw;
margin-top: 15px;
margin-bottom: 15px;
}

.all-recipes-page-container {
  display: flex;
  height: 100%;
}

.directions-box {
  width: 35vw;
  border-radius: 34px;
  border: solid rgb(183, 183, 249) 6px;
  height: 87vh;
  box-shadow: 15px 15px 8px gray;

}

.directions-label-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-bottom: 31px;
}

.directions-list {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  max-height: 66vh;
  overflow-y: scroll;
  margin-left: 44px;
}

.directions-list > p {
 margin-right: 34px;
 margin-top: 5px;
 margin-bottom: 5px;
}

.favorite-button {
  width: 20px;
  position: relative;
  vertical-align: 50px;
  margin-top: -27px;
  margin-bottom: -12px;
  margin-left: 82px;
  margin-right: 0px;
  cursor: pointer;
}

.filter-tag-text {
  font-size: 15pt;
}

h1 {
  font-size: 28pt;
  margin-left: 144px;
  margin-top: 3px;
  border-radius: 77px;
  /* cursor: pointer; */
}

h3 {
  font-size: 14pt;
}

.ingredients-cost > h3, span {
font-size: 13pt;
margin: 5px;
}

.ingredients-label {
  margin: 3px;
}

.ingredients-list-container {
  width: 100%;
  height: 344px;
  display: flex;
  flex-direction: row;
  border-radius: 33px;
  max-height: 338px;
}

.ingredients-list {
  width: 100%;
  height: 344px;
  display: flex;
  flex-direction: column;
  border-radius: 33px;
  max-height: 338px;
  overflow-y: scroll;
}
.ingredients-list-oos {
  width: 100%;
  height: 344px;
  display: flex;
  flex-direction: column;
  border-radius: 33px;
  max-height: 338px;
  overflow-y: scroll;
}

.ingredients-list > p {
  margin: 3px;
  margin-left: 43px
}

label {
  font-size: 14pt;
}

main {
  height: 100%;

}

.home-button {
  font-size: 24pt;
  margin: 0px;
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

.home-button:hover {
  border-bottom: solid black 4px;
}

.menu-nav {
  margin-left: 42px;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(183, 183, 249) 9px;
  padding: 0px;
  height: 63px;
  box-shadow: 2px 2px 10px grey;
}

.recipe {
  width: 300px;
  height: 300px;
  margin-top: 44px;
}

.recipe-count {
  font-size: 1.3vw;
}

.recipe-details-page {
  margin-top: 2vh;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  padding-left: 7vw;
  padding-right: 7vw;
}

.recipe-image-container {
  margin-bottom: 33px;
}

.recipe-image-button {
  border:0;
  background-color: inherit;
}

.recipe-image {
  top: 0;
  left: 0;
  height: 200px;
  width: 290px;
  border-radius: 44px;
  box-shadow: 15px 15px 8px gray;
  margin-top: 12px;
  cursor: pointer;
}

.recipe-image-large {
  height: 42vh;
  width: 100%;
  max-width: 130vh;
  border-radius: 33px;
  margin-bottom: 22px;
  border: solid rgb(183, 183, 249) 6px;
  box-shadow: 15px 15px 8px gray;
}

.recipe-image-large > img {
  height: 42vh;
  border-radius: 33px;
  width: 100%;
}

 .recipe-ingredients {
  width: 100%;
  height: 42vh;
  max-width: 130vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 33px;
  border: solid rgb(183, 183, 249) 6px;
  justify-content: center;
  box-shadow: 15px 15px 8px gray;
}

.recipe-ingredients-container {
  width: 38%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 45px;
  height: 80vh;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  max-height: 88vh;
  min-height: 50%;
  width: 100%;
}

.recipe-name-favorite {
  display: flex;
  margin-left: 56px;
  margin-right: 20px;
  width: 181px;
  height: 155px;
  background: pink;
  margin-top: -55px;
  margin-bottom: 0px;
  box-shadow: 2px 2px 3px black;
  flex-direction: column-reverse;
}

.recipe-name-label-container {
  display: flex;
  margin: 0px;
}

.recipe-name-label {
  padding-right: 3px;
  margin-top: 0px;
  margin-left: 11px;
  font-family: 'Grape Nuts', cursive;
  font-size: 22px;
  margin: 0px;
  margin-top: -107px;
  margin-left: 13px;
}

.recipe-page-container {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 42px;
}

.tags > div > input, label{
  cursor: pointer;
}

.tag-filter {
  margin-right:10px;
  padding:6px;
  padding-top: 0;
  max-width: 230px;
  border-right: solid #b7b7f9  10px;
  box-shadow: 2px 2px 10px grey;
}

.rotated {
  transform: rotate(10deg);
  background-color: pink;
}

.rotated-opposite {
  transform: rotate(0deg);
  background-color: pink;
  margin-top: -105px;
}

.save-recipe {
  cursor: pointer;
}

.hidden {
  display: none;
}

.hidden-vis {
  visibility: hidden;
}
